<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Budget Application</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/materialize.css' %}">
	<link rel="stylesheet" href="{% static 'css/styles.css' %} ">
	<!-- <link rel="stylesheet" href="{% static 'fonts/' %}"> -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
	{% block content %}

	{% endblock %}
	

	<script src="{% static 'js/materialize.js' %}"></script>
	<!-- <script src="{% static 'js/script.js' %}"></script> -->
</body>
</html>